/programs/bluetuith/
/programs/devcert/
/programs/gh/
/programs/gh-dash/
/programs/git/
/programs/pulse/
/programs/sc-im/
/programs/tmux/plugins/tmux-sensible/
/programs/tmux/plugins/tmux-gruvbox-truecolor/

